body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
  }

body::before {
    content: "";
    position: fixed;
    background-color: black;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }

@media (min-width: 1024px) {
    body::before {
      background-attachment: fixed;
    }
}

a{
    color: #18d26e;
}

a:hover {
    color: #35e888;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}

#header * {
    transition: ease-in-out 0.3s;
  }


#header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

#header h1 a, #header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
  }
  
#header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
  }
  
#header h2 span {
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
  }
  
#header img {
    padding: 0;
    margin: 0;
  }

#header .social-links {
    margin-top: 40px;
    display: flex;
}

#header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#header .social-links a:hover {
    background: #18d26e;
  }
  
@media (max-width: 992px) {
    #header h1 {
      font-size: 36px;
    }
    #header h2 {
      font-size: 20px;
      line-height: 30px;
    }
    #header .social-links {
      margin-top: 15px;
    }
    #header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}
